<li>
<span class="content"> <%= post.picture %> </span>
<span class="content"> <%= post.describtion %> </span>
<span class="timestamp"> posted <%= time_ago_in_words(post.created_at)%> ago </span>
</li>

