<h4 class="hero-unit">welcome to the admin users dashboard
 <%= link_to(" click her", admin_users_path) %> to see users, this place is left so blank because i am planning on adding more functionality to the site  </h4>