<div id="footer">
  <div class="container">
  <ul><%= link_to("About zap", static_pages_about_path ) %>

    <a> |</a>
    <%= link_to("Contact us", static_pages_contact_us_path ) %>
  </ul>
    <li>Created by:<%= link_to(" Divine Dube", "https://plus.google.com/u/0/", target: '_blank') %></li>
  </div >
</div>